# dependencies
node_modules

# sst
.sst
sst-env.d.ts

# tmp files
.#*

# env 
.env*.local
.env

# opennext
.open-next

# misc
.DS_Store

# typescript
*.tsbuildinfo

# pnpm 
pnpm-lock.yaml

#cursor.ai folder structure generate https://github.com/TrelisResearch/flatten
fr.sh
repo_structure.yaml
flattened_repo.txt


resources/web/sst-env.d.ts
resources/web/src/tests/gmail/credentials.json
resources/web/src/tests/gmail/token.json
